* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

header{
    text-align: center;
    background-color: #000;
}

header li{
    display: inline-block;
    list-style-type: none;
}

header li a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

header h1{
    display: inline-block;
    margin-left: 90px;
    margin-right: 90px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.info{
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    text-align: center;
}

.news{
    width: 100%;
}

.card{
    position: relative;
    text-align: center;
}

.card img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.infoImg{
    position: absolute;
    /* background: aqua; */
    bottom: 10px;
    z-index: 5;
    display: inline-block;
}

.infoImg p,
.infoImg h1{
    text-align: left;
    color: #fff;
}

.kursiv{
    font-style: italic;
}