* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

header{
    text-align: center;
    background-color: #000;
}

header li{
    display: inline-block;
    list-style-type: none;
}

header li a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

header h1{
    display: inline-block;
    margin-left: 90px;
    margin-right: 90px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}